#users_activate.narrow-column
  %h2 Activated!
  %p
    %strong
      %a{:href => "/private/#{@user.private_url}"} Click here
    to visit your
    %a{:href => "/private/#{@user.private_url}"} private page.